:root {
    --color-title: #0C3440;
    --color-label: #00453A;
    --color-input: #212529;
    --ot-input: #02799D;
    --bd-input: rgba(73, 80, 87, 0.3);
    --tt-placeholder: rgba(73, 80, 87, 0.5);
    --tt-button: white;
    --bg-button: #02799D;
    --bg-error: #F03E3E;
    --tt-error: white;
    --bg-input: #DCE2E9;
    --bg-button-hover: #01475C;
}